body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  background-color: wheat
}

.visually-hidden {
  display: none;
}
.wrapper {
  
  width: 80vw;
  margin: 0 auto;
}

.header-wrapper{
    width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.card {
  width: 250px;
  height: 290px;
  background-color: lightcoral;
  margin: calc((80% - 250px) / 24);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border: 3px solid #2d303a;
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.28), 0 10px 10px rgba(0, 0, 0, 0.28);
  user-select: none;
  transform:  scale(1, 1);
  transition: transform 1.5s;
  z-index: 1

}
.card:hover {
  box-shadow: 5px 19px 28px rgba(0, 0, 0, 0.4), 5px 15px 10px rgba(0, 0, 0, 0.4);
}
.card-image {
  width: 244px;
  height: 250px;
  border-radius: 10px;
  box-sizing: border-box;
  border-bottom: 3px solid #2d303a
}
.icon-rotate{
  box-sizing: border-box;
}
.icon-rotate:hover{
  border: 3px solid #2d303a;
  border-radius: 10px;

}
.rotate-card{
  transform: scale(-1, 1) rotateY(180deg);
  transition: transform 1.5s;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: capitalize;
}

.card-playable{
  height:255px;
}

/* .card-name__rus{
  opacity: 1;
 
}
.card-name__eng{
  opacity: 1;
 
}
.card-name-hidden{
  opacity:0;
  transition: opacity 2s;
} */

.card-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 2;
  font-size: 2em;
}
.categories_card .material-icons {
  display: none;
}


.toggle-button--aava label {
  height: 50px;
  line-height: 50px;
  transition: all 0.2s;
  border-radius: 2rem;
}
.toggle-button--aava label:before,
.toggle-button--aava label:after {
  position: absolute;
  right: 1.5rem;
  transition: all 0.2s 0.1s ease-out;
  font-size: 1.1rem;
}
.toggle-button--aava label:before {
  content: attr(data-on-text);
}
.toggle-button--aava label:after {
  content: attr(data-off-text);
}

.toggle-button--aava input[type="checkbox"] + label {
  width: 120px;
  background: #ff5335;
}
.toggle-button--aava input[type="checkbox"] + label:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.toggle-button--aava input[type="checkbox"] + label:after {
  opacity: 1;
  transform: translate(0, 0);
}

.toggle-button--aava input[type="checkbox"]:checked ~ label {
  width: 120px;
  background: #61b136;
}
.toggle-button--aava input[type="checkbox"]:checked ~ label:before {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--aava input[type="checkbox"]:checked ~ label:after {
  opacity: 0;
  transform: translate(0, -20px);
}

.toggle-button--aava
  input[type="checkbox"]:checked
  ~ .toggle-button__icon:before {
  transform: translate(-10%, 100%) rotate(45deg);
  width: 16.66667px;
}

.toggle-button--aava
  input[type="checkbox"]:checked
  ~ .toggle-button__icon:after {
  transform: translate(30%) rotate(-45deg);
}

.toggle-button--aava .toggle-button__icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
}
.toggle-button--aava .toggle-button__icon:before,
.toggle-button--aava .toggle-button__icon:after {
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.toggle-button--aava .toggle-button__icon:before {
  width: 25px;
  transform: rotate(45deg);
}
.toggle-button--aava .toggle-button__icon:after {
  width: 25px;
  transform: rotate(-45deg);
}

.toggle-button {
  position: relative;
  display: inline-block;
  color: #fff;
}
.toggle-button label {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
}
.toggle-button input {
  display: none;
}
.toggle-button__icon {
  cursor: pointer;
  pointer-events: none;
}
.toggle-button__icon:before,
.toggle-button__icon:after {
  content: "";
  position: absolute;
  top: 45%;
  left: 35%;
  transition: 0.2s ease-out;
}

#toggle-nav {
    display: none;
  }
.hamburger {
    position: relative;
    /* top: 5em; */
    /* right: 5%; */
    /* margin-left: -2em; */
    /* margin-top: -45px; */
    width: 2em;
    height: 45px;
    z-index :5;
    cursor: pointer;
  }
  .hamburger-toggle{
    z-index :5;
  }
  
  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: #2d303a;
    margin-top: 8px;
    /* padding-top: 8px; */
    transition: all 0.3s ease-in-out;
  }
#toggle-nav:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
    background-color: wheat;
  }
  #toggle-nav:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
    background-color: wheat;
  }
  #toggle-nav:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
    background-color: wheat;
  }
nav{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  width: 350px;
    position: fixed;
    /* top: 67px; */
    left: -400px;
    height: 100%;
    background-color: #2d303a;
    /* display: none; */
    z-index: 4;
    /* 
    animation: width 2s; */
    transition: left 2s;
}
.nav-opened{
  left: 0px;
  transition: left 2s;
}

.nav-element{
    color:wheat;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    border: 2px solid wheat;
    border-radius: 20px;
    text-transform: capitalize;
}
.nav-list{
    display: flex;
    flex-direction: column;
}
.nav-element__img{
    border-radius: 14px;
    width: 50px;
    height: 50px;
    border: 2px solid wheat;
    margin-right: 10px;
}

.visually-hidden {
  display: none;
}

/* @keyframes width {
  from {
    left: 100%;
  }
  to {
    left: 0px;
  }
}  */