{
    "extends" : ["airbnb/base"],
    "env" : {
        "browser": true,
        "node": true
    },
    "rules" : {
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "prefer-destructuring": ["error", {"object": true, "array": false}]
    }
    
}